<div class="post">
  <div class="header">
    <h1>title</h1>
    <button routerLink="/">main page</button>
  </div>
  <div class="info">
    <strong>autor</strong>
    <small>time 12.123.123123</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolores ea pariatur quos recusandae suscipit temporibus. Accusamus at beatae commodi consequuntur dicta dolor dolorum eaque, earum explicabo in ipsam iste itaque minus molestiae natus nostrum officia quos rem sapiente sed tempore ullam unde voluptatum. A aliquam debitis labore soluta voluptatibus.</p>
  </div>
</div>
