<form  class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h3>войти на страницу админа</h3>
  <div class="form-control" [ngClass]="{invalid:form.invalid}">
    <label for="email">email:</label>
    <input id='email' type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">мыло введите</small>
      <small *ngIf="form.get('email')?.errors?.email">надо ввести мыло</small>
    </div>
  </div>
  <div class="form-control" [ngClass]="{invalid:form.invalid}">
    <label for="password">password:</label>
    <input id='password' type="password" formControlName="password">
    <div class="validation" *ngIf="{invalid: form.get('password')?.invalid && form.get('password')?.touched}">
      <small *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched">пасс введите</small>
    </div>

  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Enter</button>
</form>
